<h1>Import libraries </h1>

In [34]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
import pandas as pd

In [5]:
website = 'https://www.adamchoi.co.uk/overs/detailed'
path = "chromedriver.exe"
driver = webdriver.Chrome(path)
driver.get(website)
all_matches_button = driver.find_element("xpath" ,"//label[@analytics-event = 'All matches']")
all_matches_button.click()
matches = driver.find_elements("xpath", "//tr")

C:\Users\WhamClinics 2\AppData\Local\Temp\ipykernel_2932\3139614650.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)

In [9]:
date = []
home_team = []
score = []
away_team = []
for match in matches:
    date.append(match.find_element('xpath', "./td[1]").text)
    home_team.append(match.find_element('xpath', "./td[2]").text)
    score.append(match.find_element('xpath', "./td[3]").text)
    away_team.append(match.find_element('xpath', "./td[4]").text)

In [13]:
match_df = pd.DataFrame({"date": date,"home_team": home_team,"score": score,"away_team": away_team})

In [14]:
match_df

           date       home_team  score    away_team
0    05-08-2022  Crystal Palace  0 - 2      Arsenal
1    13-08-2022         Arsenal  4 - 2    Leicester
2    20-08-2022     Bournemouth  0 - 3      Arsenal
3    27-08-2022         Arsenal  2 - 1       Fulham
4    31-08-2022         Arsenal  2 - 1  Aston Villa
..          ...             ...    ...          ...
415  31-12-2022          Wolves  0 - 1   Man United
416  04-01-2023     Aston Villa  1 - 1       Wolves
417  14-01-2023          Wolves  1 - 0     West Ham
418  22-01-2023        Man City  3 - 0       Wolves
419  04-02-2023          Wolves  ? - ?    Liverpool

[420 rows x 4 columns]

In [37]:
website = 'https://www.adamchoi.co.uk/overs/detailed'
path = "chromedriver.exe"
driver = webdriver.Chrome(path)
driver.get(website)
all_matches_button = driver.find_element("xpath" ,"//label[@analytics-event = 'All matches']")
all_matches_button.click()

C:\Users\WhamClinics 2\AppData\Local\Temp\ipykernel_2932\1370761334.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)

In [43]:
drop_down = Select(driver.find_element('id',"country"))
drop_down.select_by_visible_text("Spain")
matches = driver.find_elements("xpath", "//tr")

In [44]:
date = []
home_team = []
score = []
away_team = []
for match in matches:
    date.append(match.find_element('xpath', "./td[1]").text)
    home_team.append(match.find_element('xpath', "./td[2]").text)
    score.append(match.find_element('xpath', "./td[3]").text)
    away_team.append(match.find_element('xpath', "./td[4]").text)

In [47]:
match_df = pd.DataFrame({"date": date,"home_team": home_team,"score": score,"away_team": away_team})
match_df

           date   home_team  score    away_team
0    14-08-2022     Almeria  1 - 2  Real Madrid
1    22-08-2022       Elche  1 - 1      Almeria
2    27-08-2022     Almeria  2 - 1      Sevilla
3    05-09-2022  Valladolid  1 - 0      Almeria
4    12-09-2022     Almeria  0 - 1      Osasuna
..          ...         ...    ...          ...
397  07-01-2023  Villarreal  2 - 1  Real Madrid
398  13-01-2023       Celta  1 - 1   Villarreal
399  22-01-2023  Villarreal  1 - 0       Girona
400  30-01-2023  Villarreal  0 - 1    Vallecano
401  04-02-2023       Elche  ? - ?   Villarreal

[402 rows x 4 columns]