In [204]:
import requests
from bs4 import BeautifulSoup
import csv
import pandas as pd
import numpy as np

In [3]:
page = requests.get('https://www.toptutor.hk/newcases?fbclid=IwAR04wYfD7Y5TObkLLflSsK7tZ56ymFtoDqpq6ZQG_v8ay4n9svEB8Ef0OLc')

In [428]:
def main(page):
    src = page.content
    soup = BeautifulSoup(src, 'lxml')
    table_head = soup.find('thead')
    table_body = soup.find('tbody').find_all('td')
    column_header = table_head.contents[0].find_all('div', {'class': "L0MOmM"})
    column_header = [i.text.strip() for i in column_header]
    table_rows = [i.text.strip() for i in table_body]
    table_rows = np.transpose(table_rows)
    table = np.concatenate((column_header, table_rows), axis = 0)
    return column_header

In [429]:
main(page)

['個案編號', '補習地區', '學生年級', '補習科目', '每小時學費', '每堂時數', '每週堂數', '特別要求']

In [444]:
def main(page):
    src = page.content
    soup = BeautifulSoup(src, 'lxml')
    table_head = soup.find('thead')
    table_body = soup.find('tbody').find_all('div', {'class': "L0MOmM"})
    column_header = table_head.contents[0].find_all('div', {'class': "L0MOmM"})
    column_header = [i.text.strip() for i in column_header]
    table_rows = [i.text.strip() for i in table_body]
    table_rows = np.transpose(table_rows)
    table_rows = table_rows.reshape(10,8)
    column_header = np.array(column_header)
    column_header = column_header.reshape(1,8)
    table = np.concatenate((column_header, table_rows), axis = 0)
    table = pd.DataFrame(table)
    table.columns = table.iloc[0]
    table = table.drop([0], axis = 0)
    return table

In [445]:
main(page)

,個案編號,補習地區,學生年級,補習科目,每小時學費,每堂時數,每週堂數,特別要求
1,12342,白石角,中二,英國文學,150－250,1.5,2,
2,12311,大埔小白鷺村屋,小五,科學，數學（英文）,200－250,2,2,
3,12294,青衣曉峰園,小二,全科,120,1.5-2,3,女老師
4,12267,上水丙崗村,小六,數學,100－180,1,1,有補呈分試經驗，小朋友專注力弱，導師需有耐性
5,12243,天水圍天耀邨,小一,英文phonics,150－200,1.5,1,女老師，有經驗
6,12224,青衣青雅苑,中四,bafs（英文）,170－200,1.5,1,
7,12223,將軍澳中心,中五,物理（英文）,150－200,2,1,
8,12210,沙田第一城,中三,通識（英文）,150－200,1.5,1,
9,12209,沙田第一城,中三,生物（英文）,150－200,1.5,1,
10,12278,大埔新屋家,中一,數學,150－200,1.5,1,男老師，有練習